* {
    text-align: center;
    background-color: dimgray;
}

.title {
    font-size: 3em;
}

.video {
    align-content: center;
    width: 90%;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 720px) {
    .title {
        font-size: 5em;
    }

    p {
        font-size: 1.5em;
    }
    .video{
        width: 720px;
        height: 450px;
    }
}